<div class="row">
  <div class="col-sm-2 col-sm-offset-3">
<div class="plan_box">
  <h3>Plan Free</h3>
  <p>
    No Charge
    </br>
  </p>
</div>
  </div>
  <div class="col-sm-2">
<div class="plan_box">
  <h3>Plan Good</h3>
  <p>
    Good For Small Businesses
    </br>
  </p>
</div>
  </div>
  <div class="col-sm-2">
<div class="plan_box">
  <h3>Plan Awesome</h3>
  <p>
    Good For Enterprises
    </br>
  </p>
</div>
  </div>
</div>
