<%= javascript_include_tag "https://js.stripe.com/v2/" %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_tag "/subscriptions/update_card_details", id: "payment-form" do %>
      <span class="payment-errors text-danger"></span>

      <div class="form-group">
        <label for="number">Card</label>
          <input type="text" size="20" class="form-control" id="number" data-stripe="number">
      </div>

      <div class="form-group">
          <label for="cvc">CVC</label>
          <input type="text" size="4" class="form-control" id="cvc" data-stripe="cvc">
      </div>

      <label for="">Expiration (MM/YYYY)</label>
      <div class="form-group">
          <input type="text" size="2" class="form-control exp-field" id="exp" data-stripe="exp_month">
          <span> / </span>
          <input type="text" size="2" class="form-control exp-field" data-stripe="exp_year">
      </div>

      <input type="submit" class="btn btn-primary" value="Submit Payment">
    <% end %>
  </div>
</div>

<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_z3yrL4LC2PGjjgjDRnfim1DK');
</script>
